.overlay {
  position: relative;
  width: 100%;
}
.overlay::before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-modal {
  position: fixed;
  background-color: white;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signin-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.signin-form > * {
  margin: 10px;
  padding: 10px;
}
.signin-form input {
  border: 1px solid black;
  border-radius: 8px;
  outline: none;
}

.login-form-buttons-div {
  display: flex;
  justify-content: center;
}
.login-form-buttons-div > * {
  margin: 0 5px;
}
.close-button {
  position: absolute;
  cursor: pointer;
  padding: 2px;
  right: 0;
  top: 0;
}
